<nav class="panel has-background-sea-shell is-english-lavendar">
  <p class="panel-heading ">
    Players
  </p>
  <div class="panel-block">
    <p class="control">
      <input class="input" type="text" placeholder="Search">
    </p>
  </div>
  <a class="panel-block is-active">
    <!--TODO: add online vs in game circle (green or orange)-->
    Warsna - Online
  </a>
  <a class="panel-block is-active">
    BoxThatBeat - Ingame
  </a>
  <a class="panel-block is-active">
    Esulu - Ingame
  </a>
  <a class="panel-block is-active">
    Yawnzy - Online
  </a>
  <a class="panel-block is-active">
    <!--TODO: add online vs in game circle (green or orange)-->
    Warsna - Online
  </a>
  <a class="panel-block is-active">
    BoxThatBeat - Ingame
  </a>
  <a class="panel-block is-active">
    Esulu - Ingame
  </a>
  <a class="panel-block is-active">
    Yawnzy - Online
  </a>
  <a class="panel-block is-active">
    <!--TODO: add online vs in game circle (green or orange)-->
    Warsna - Online
  </a>
  <a class="panel-block is-active">
    BoxThatBeat - Ingame
  </a>
  <a class="panel-block is-active">
    Esulu - Ingame
  </a>
  <a class="panel-block is-active">
    Yawnzy - Online
  </a>
  <a class="panel-block is-active">
    <!--TODO: add online vs in game circle (green or orange)-->
    Warsna - Online
  </a>
  <a class="panel-block is-active">
    BoxThatBeat - Ingame
  </a>
  <a class="panel-block is-active">
    Esulu - Ingame
  </a>
  <a class="panel-block is-active">
    Yawnzy - Online
  </a>
  <a class="panel-block is-active">
    <!--TODO: add online vs in game circle (green or orange)-->
    Warsna - Online
  </a>
  <a class="panel-block is-active">
    BoxThatBeat - Ingame
  </a>
  <a class="panel-block is-active">
    Esulu - Ingame
  </a>
  <a class="panel-block is-active">
    Yawnzy - Online
  </a>
  <a class="panel-block is-active">
    <!--TODO: add online vs in game circle (green or orange)-->
    Warsna - Online
  </a>
  <a class="panel-block is-active">
    BoxThatBeat - Ingame
  </a>
  <a class="panel-block is-active">
    Esulu - Ingame
  </a>
  <a class="panel-block is-active">
    Yawnzy - Online
  </a>
  <a class="panel-block is-active">
    <!--TODO: add online vs in game circle (green or orange)-->
    Warsna - Online
  </a>
  <a class="panel-block is-active">
    BoxThatBeat - Ingame
  </a>
  <a class="panel-block is-active">
    Esulu - Ingame
  </a>
  <a class="panel-block is-active">
    Yawnzy - Online
  </a>
  <a class="panel-block is-active">
    <!--TODO: add online vs in game circle (green or orange)-->
    Warsna - Online
  </a>
  <a class="panel-block is-active">
    BoxThatBeat - Ingame
  </a>
  <a class="panel-block is-active">
    Esulu - Ingame
  </a>
  <a class="panel-block is-active">
    Yawnzy - Online
  </a>
  
  <div class="panel-block">
    <button class="button is-link is-outlined is-fullwidth">
      Reset all filters
    </button>
  </div>
</nav>
