<div class="modal" [ngClass]="isOpen ? 'is-active' : ''">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create Account</p>
      <button class="delete"(click)="onModalCloseClick()" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Modal Content -->
      <div class="field">
        <label class="label"></label>
        <div class="control">
          <input class="input is-success" type="text" placeholder="Username">
        </div>
        <p class="help is-success">This username is available</p>
      </div>
      <div class="field">
        <label class="label"></label>
        <div class="control">
          <input class="input is-success" type="password" placeholder="Password">
        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-success has-text-white">Create Account</button>
      <button class="button" (click)="onModalCloseClick()">Cancel</button>
    </footer>
  </div>
</div>