@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

div.fullheight {
  height: 100%;
}

// Brand colors
$gun-metal: #2A2D34;
$opal: #AEC2B4;
$sea-shell: #FFF4EE;
$english-lavendar: #AE8187;
$beige-lighter: #EFF0EB;

// Inverted brand colors
$gun-metal-invert: findColorInvert($gun-metal);
$opal-invert: findColorInvert($opal);
$sea-shell-invert: findColorInvert($sea-shell);
$english-lavendar-invert: findColorInvert($english-lavendar);
$beige-lighter-invert: findColorInvert($beige-lighter);


$custom-colors: ("gun-metal": ($gun-metal, $gun-metal-invert), 
                 "opal": ($opal, $opal-invert),
                 "sea-shell": ($sea-shell, $sea-shell-invert),
                 "english-lavendar": ($english-lavendar, $english-lavendar-invert),
                 "beige-lighter": ($beige-lighter, $beige-lighter-invert),);


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $opal;
$success: $opal;
$link: $opal;

// Update Bulma's component variables
$body-background-color: $opal;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Nav bar see: https://bulma.io/documentation/components/navbar/#variables
$navbar-burger-color: $opal;
$navbar-item-hover-color: $opal;

// Import only what you need from Bulma
//@import "../node_modules/bulma/sass/utilities/_all.sass";
//@import "../node_modules/bulma/sass/base/_all.sass";
//@import "../node_modules/bulma/sass/elements/button.sass";
//@import "../node_modules/bulma/sass/elements/container.sass";
//@import "../node_modules/bulma/sass/elements/title.sass";
//@import "../node_modules/bulma/sass/form/_all.sass";
//@import "../node_modules/bulma/sass/components/navbar.sass";
//@import "../node_modules/bulma/sass/layout/hero.sass";
//@import "../node_modules/bulma/sass/layout/section.sass";

//Or import all
@import "../node_modules/bulma/bulma.sass";