<nav class="panel has-background-sea-shell is-english-lavendar">
  <p class="panel-heading ">
    Players
  </p>
  <div class="panel-block">
    <p class="control">
      <input class="input" type="text" placeholder="Search">
    </p>
  </div>
  <div *ngFor="let user of users">
    <ul class="menu-list">
      <li>
        <div *ngIf="user.isOnline; else offLine">
          <a [ngClass]="{'has-background-english-lavendar has-text-sea-shell': user.isSelected}"
           (click)="onUserSelect(user.username)">{{user.username}} - Online <span *ngIf="user.isInviter"> (1)</span></a>
          <ul *ngIf="user.isSelected && user.isInviter">
            <li (click)="onInviteUser(user.username)"><a>Join Game</a></li>
            <li><a>Profile</a></li>
          </ul>
          <ul *ngIf="user.isSelected && !user.isInviter">
            <li (click)="onInviteUser(user.username)"><a>Invite to game</a></li>
            <li><a>Profile</a></li>
          </ul>
        </div>
        <ng-template #offLine>
          <a>{{user.username}} - Offline</a>
        </ng-template>
      </li>
    </ul>
  </div>
  <div class="panel-block">
    <button class="button is-link is-outlined is-fullwidth">
      Reset all filters
    </button>
  </div>
</nav>
