<nav class="navbar is-gun-metal" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h2 class="title has-text-primary">BoxThatMiniGame</h2>
    </a>

    <a role="button" [ngClass]="isOpen ? 'is-active' : ''" (click)="onHamburgerClick()" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="minigames" [ngClass]="isOpen ? 'is-active' : ''" class="navbar-menu has-background-gun-metal">
    <div class="navbar-start">
      <a class="navbar-item has-text-sea-shell">
        CountingMania
      </a>

      <a class="navbar-item has-text-sea-shell">
        AlphabetMania
      </a>

      <a class="navbar-item has-text-sea-shell">
        TypingMania
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link has-text-sea-shell">
          More
        </a>

        <div class="navbar-dropdown has-background-gun-metal">
          <a class="navbar-item has-text-sea-shell">
            About
          </a>
          <a class="navbar-item has-text-sea-shell">
            Jobs
          </a>
          <a class="navbar-item has-text-sea-shell">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item has-text-sea-shell">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-background-gun-metal">
        
        <div *ngIf="isSignedIn; else elseBlock" class="buttons">
          <h2 class="has-text-sea-shell pr-4">
            Logged in as:  {{currentUser.username}}
          </h2>
          <a class="button is-light" (click)="onSignOutClick()">
            Log out
          </a>
        </div>
        <ng-template #elseBlock>
          <div class="buttons">
            <a class="button is-primary" (click)="onCreateAccountClick()">
              <strong>Create Account</strong>
            </a>
            <a class="button is-light" (click)="onSignInClick()">
              Log in
            </a>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</nav>