<nav class="panel has-background-sea-shell is-english-lavendar">
  <p class="panel-heading">
    Scoreboard
  </p>
  <a class="panel-block">
    1. 56.21s: Warsna + BoxThatBeat 
  </a>
  <a class="panel-block">
    2. 60.31s: Yawnzy + BoxThatBeat 
  </a>
  <a class="panel-block">
    3. 61.41s: Esulu + Warsna 
  </a>
  <a class="panel-block">
    4. 72.51s: Esulu + BoxThatBeat 
  </a>
  <a class="panel-block">
    5. 83.61s: Warsna + Esulu 
  </a>
  <a class="panel-block">
    6. 94.71s: Yawnzy + BoxThatBeat 
  </a>
  <a class="panel-block">
    7. 100.81s: Warsna + Yawnzy 
  </a>
  <a class="panel-block">
    8. 120.91s: Warsna + Yawnzy 
  </a>
  <a class="panel-block">
    9. 402.01s: Esulu + Yawnzy 
  </a>
  
</nav>