<timer></timer>

<div class="card">
  <div class="card-content">
    <div class="content">
      <div class="field">
        <label class="label has-text-centered" for="countnum">Input</label>
        <div class="control">
          <input type="text" formControlName="countnum" class="input is-gun-metal"/>
        </div>
      </div>
    </div>
  </div>
</div>


<button (click)="onStartTimer()">Start Timer</button>
<button (click)="onPauseTimer()">Pause Timer</button>
<button (click)="onAddToTotal()">Add to total</button>

